@import "../../_globalColor";

//Project Section
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem 1rem;
  margin-top: 5rem;
}

.projects-container .project-card {
  display: inline-block;
  background-color: $lightBackground2;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 6px;
  border: 1px solid $lightBorder1;
  box-shadow: 0 10px 30px -15px rgba(2,12,27,.7);
}

//project images
.project-card .project-image {
  height: 45%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.project-card .project-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  vertical-align: middle;
  //position: relative;
}

.project-image .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

//image overlay
.overlay {
  position: absolute;
  //z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #28262c;
  //background-color: $buttonHover;
}

.project-image:hover  .overlay {
  opacity: 0;
}


//description
.project-detail {
  text-align: center;
  padding: 15px 30px 40px 15px;
  
}

.project-detail .card-title {
  color: $titleColor;
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0 0 0;
}

.project-detail .card-subtitle {
  color: $titleColor;
  font-size: 13px;
  
}

//social links
.project-detail .social-links a{
  
  padding-right: 10px;
}

.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}



.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 1rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  margin: 0.5rem 0.5rem 0.3rem 0.5rem;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.project-card-tags span.project-tag {
  background: #8ebafd;
  //background: #8DDCA4;
  color: $buttonColor;
  vertical-align: middle;
  align-items: center;
  border-radius: 5px;
  display: inline-flex;
  font-size: 0.65rem;
  height: 2em;
  justify-content: center;
  white-space: normal;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }

  .project-image .overlay {
    opacity: 0;
  }
}
